HnBveCqktSuP7F6K.json
{"createdAt":"2025-08-05T11:22:36.431Z","updatedAt":"2025-08-12T14:50:26.458Z","id":"HnBveCqktSuP7F6K","name":"alerta erros","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-192,352],"id":"d4994526-3135-4127-9b15-da0c7b980d8d","name":"Error Trigger"},{"parameters":{"queue":"={{ $item(\"0\").$node[\"Error Trigger\"].json[\"workflow\"][\"name\"] }}","options":{"durable":true}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[368,352],"id":"aad03217-36e0-4be0-b461-645725340a7c","name":"RabbitMQ","credentials":{"rabbitmq":{"id":"wa1QSz5v3MlpC6Kt","name":"RabbitMQ account"}}},{"parameters":{"queue":"Example Workflow","options":{"acknowledge":"executionFinishesSuccessfully","durable":true,"jsonParseBody":true,"parallelMessages":1}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-192,656],"id":"9063c449-b5a3-4ee4-a558-97095161a4f6","name":"RabbitMQ Trigger","credentials":{"rabbitmq":{"id":"wa1QSz5v3MlpC6Kt","name":"RabbitMQ account"}}},{"parameters":{"description":"Analise o erro de forma lógica antes de explicá-lo. Quebre o problema em partes, identifique onde ele ocorreu no fluxo, por que aconteceu e o que precisa ser alterado. Pense como um engenheiro de automações: qual foi a falha lógica ou de dados?\n\nListe mentalmente os seguintes pontos:\n1. Onde o erro ocorreu?\n2. Qual variável, dado ou condição causou isso?\n3. Esse erro tem chance de acontecer novamente?\n4. Como evitar esse erro no futuro?\n\nNão responda ainda. Apenas pense e prepare essas conclusões para compor a resposta final com clareza."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[208,896],"id":"57aa24ed-ebe2-4d26-ae03-ff497d7390d3","name":"Think"},{"parameters":{"promptType":"define","text":"=Message: {{ $json.content.execution.error.message }}\nStack: {{ $json.content.execution.error.stack }}\nlastNodeExecuted: {{ $json.content.execution.lastNodeExecuted }}\nworkflow: {{ $json.content.workflow.name }}","options":{"systemMessage":"=## CONTEXTO:\n\nVocê é um Analista de Erros com linguagem acessível e explicações didáticas. Seu papel é analisar mensagens de erro vindas de sistemas de automação (como N8N) e transformar isso em um relatório claro, direto e fácil de entender, mesmo por quem **não tem conhecimento técnico**.\n\nVocê recebe mensagens de erro com stacktraces, logs técnicos ou descrições geradas automaticamente. Sua missão é **interpretar**, **diagnosticar a causa**, e sugerir **um passo a passo objetivo de como resolver**.\n\n## OBJETIVO:\n- Explicar o erro de forma leiga\n- Sugerir um passo a passo para corrigir\n\n## FORMATO DA RESPOSTA:\n\n🚨 Erro Detectado:\n[Explique com suas palavras o que aconteceu. Seja direto e evite termos técnicos desnecessários.]\n\n🛠️ Passo a Passo para Resolver:\n\n[Instrução clara 1]\n\n[Instrução clara 2]\n\n[Instrução clara 3]\n\n\n## ESTILO:\n- Use uma linguagem clara, como se estivesse explicando para um estagiário curioso.\n- Seja objetivo. Respostas longas demais cansam.\n- Não copie e cole o erro. Interprete ele.\n- Quando possível, evite jargões como “stacktrace”, “runtime” etc.\n\n## EXEMPLO DE ERRO:\n```json\n{\n  \"message\": \"Cannot read properties of undefined (reading 'name')\",\n  \"node\": \"Send Email\",\n  \"timestamp\": \"2025-06-05T01:23:00Z\"\n}\n\n## EXEMPLO DE RESPOSTA ESPERADA:\n\n🚨 **Erro Detectado:**\nO fluxo tentou acessar uma informação chamada “name”, mas ela não existia naquele momento.\n\n🛠️ **Passo a Passo para Resolver:**\n1. Vá até o nó anterior ao “Send Email”.\n2. Verifique se a variável “name” está sendo enviada corretamente.\n3. Se necessário, adicione uma verificação com “IF” para garantir que o valor exista antes de usar."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[16,656],"id":"07e460ae-4826-47e0-ba64-f3612d05b9b2","name":"Analista de Erros"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[368,736],"id":"c1f4ae2e-133c-43ed-9fd0-108777635381","name":"Wait","webhookId":"a0f8f75a-9fce-48a6-a05c-9e634c65def0"},{"parameters":{"resource":"messages-api","instanceName":"hub","remoteJid":"553192919794","messageText":"=*Workflow:* {{ $('RabbitMQ Trigger').item.json.content.workflow.name }}\n\n*Url:* {{ $('RabbitMQ Trigger').item.json.content.execution.url }}\n\n*Mensagem:* {{ $('RabbitMQ Trigger').item.json.content.execution.error.message }}\n\n*Último nó executado:* {{ $('RabbitMQ Trigger').item.json.content.execution.lastNodeExecuted }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[480,736],"id":"f4cd3064-d8a7-4d98-9d2c-f072cc816edf","name":"Envio das Informações","credentials":{"evolutionApi":{"id":"5FtmpAntD2mskIMA","name":"global-APIKEY"}}},{"parameters":{"resource":"messages-api","instanceName":"hub","remoteJid":"553192919794","messageText":"={{ $json.output.replaceAll('**', '*') }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[368,592],"id":"eeda12cc-eb8a-4386-ae86-88fa6365a9c4","name":"Envio da Solução","credentials":{"evolutionApi":{"id":"5FtmpAntD2mskIMA","name":"global-APIKEY"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"gpt-4o-mini-2024-07-18"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[16,848],"id":"0c8d4174-f5e2-4d59-acbd-3f80be4337ac","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"CJ57lmUPeh9Mlncj","name":"luis-prime"}}}],"connections":{"Error Trigger":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]},"RabbitMQ Trigger":{"main":[[{"node":"Analista de Erros","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Analista de Erros","type":"ai_tool","index":0}]]},"Analista de Erros":{"main":[[{"node":"Envio da Solução","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Envio das Informações","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Analista de Erros","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"947f0927-882a-4d16-8cdb-e4ab92e822eb","triggerCount":1,"tags":[]}